{% extends 'layout.html' %}

{% block title %}Главная{% endblock %}

{% block main %}


<div class="row mb-2">
    {% for n in news %}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">{{ n.news_category }}</strong>
                <h3 class="mb-0">{{ n }}</h3>
                <div class="mb-1 text-body-secondary">
                    {{ n.add_date }}
                </div>
                <p class="card-text mb-auto">{{ n.text | slice:75 }}...</p>
                <a href="/news/{{ n.id }}" class="icon-link gap-1 icon-link-hover stretched-link">
                Continue reading
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#chevron-right"></use>
                </svg>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}

{% if user.is_authenticated %}
                <form action="/to-cart/{{ product.id }}" method="post">
                    {% csrf_token %}
                    <input type="number" min="1" value="1" name="product_count" class="form_control">
                    <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                    <button type="button" class="btn btn-outline-secondary">${{ product.product_price }}</button>
                </form>
                {% else %}
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Войдите или зарегистрируйтесь, стобы купить</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">${{ product.product_price }}</button>
                {% endif %}