{% extends 'layout.html' %}

{% block title %}Новости{% endblock %}


{% block main %}


<div class=" border=2 rounded p-4 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            {% if user.is_authenticated %}
            <form action="/to-favourites/{{ news.id }}" method="post">
                {% csrf_token %}
                <button type="submit"><i class="fa-sharp fa-solid fa-heart"></i></button>
            </form>
            {% endif %}
            <img src="{{ news.news_photo.url }}" width='550' height='450' alt="{{ news }}">
            <strong class="d-inline-block mb-2 text-primary-emphasis">{{ news }}</strong>
            <h3 class="mb-0">{{ n }}</h3>
            <div class="mb-1 text-body-secondary">
                Время публикации: {{ news.add_date }}
            </div>
            <p class="card-text mb-auto">{{ news.text }}</p>
            <hr>
            Новости по этой теме: <a href="/category/{{ news.news_category.id }}">{{ news.news_category }}</a>
        </div>
    </div>
</div>



{% endblock %}